b {
    background-color:	#e7e8b6;
}
.center {
    text-align: center;
}
.bg-rose {
    color: white;
    background-color: black;
    padding: 12px;
}
.border {
    border: 3px solid black;
}


